/* CSS declarations go here */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App {
  background-color: #3498DB;
  height: 100vh;
  width: 100vw;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navi {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #EEE;
  color: #3498DB;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 5%;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.3);
}

.navi ul {
  display: flex;
}

.navi ul li {
  list-style: none;
  color: #3498DB;
  margin: 0 15px;
  transition: all 0.15s ease;
}

.navi ul li:hover {
  color: #F1C40F;
  transform: scale(1.1);
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-container .intro {
  display: flex;
  flex-direction: row;
}

.home-container h2 {
  font-size: 28px;
}

.btn {
  background-color: #F1C40F;
  padding: 10px 20px;
  border-radius: 100px;
  margin: 10px 0;
  color: #3498DB;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  transform: scale(1.1);
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.list-wrap {
  width: 60%;
  min-height: 80vh;
  background-color: rgba(220, 220, 220, 0.7);
  margin-top: 50px;
  box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  padding: 20px 0 85px;
  position: relative;
}

.list-wrap h1 {
  width: 100%;
  text-align: center;
  color: #FFF;
}

.list-wrap .filters {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 35px;
}

.list-wrap .filters .filter-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  background-color: #FFF;
  color: #3498DB;
  margin: 0 10px;
  border-radius: 3px;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.15s ease;
  cursor: pointer;
}

.list-wrap .filters .filter-btn.active {
  background-color: #3498DB;
  color: #FFF;
}

.list-wrap .filters .filter-btn:hover {
  transform: scale(1.1);
}

.list-wrap .form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-wrap .form input[type='text'] {
  height: 30px;
  width: 150px;
  border-radius: 5px;
  outline: 0;
  border: none;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 0 10px;
}

.list-wrap .form .submit-btn {
  background-color: #3498DB;
  padding: 0 15px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
  transition: all 0.15s ease;
  cursor: pointer;
  border-radius: 3px;
  color: #FFF;
  border: none;
  outline: 0;
}

.list-wrap .form .submit-btn:hover {
  transform: scale(1.1);
}

.list-wrap .line {
  display: block;
  height: 2px;
  width: 50%;
  background: linear-gradient(to right, transparent 10%, #3498DB 50%, transparent 90%);
  margin: 30px auto 10px;
}

.list-wrap .todos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.list-wrap .todos li {
  list-style: none;
  margin: 15px 20px;
  width: 120px;
  height: 120px;
  background-color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3498DB;
  font-size: 16px;
  text-align: center;
  box-sizing: border-box;
  padding: 5px;
  transition: all 0.3s ease;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
  position: relative;
}

.list-wrap .todos li:hover {
  transform: scale(1.1);
}

.list-wrap .todos li.todo-done {
  opacity: 0.5;
}

.list-wrap .todos li .status-btn {
  position: absolute;
  top: 3px;
  right: 3px;
  font-size: 20px;
  transform: rotate(45deg);
  cursor: pointer;
}
